<div class="card mb-3" style="">
  <div class="card-header bg-primary text-white" style="font-weight: bolder">
    <div i18n="@@activeTasks">
      Active Tasks
    </div>
    <button (click)="reload()" class="btn btn-light mr-2" style="position:absolute;top:6px;right:4px;padding:.35rem;"
            type="button"><i class="fa fa-sync"></i>
      <span i18n="@@refresh"> Refresh</span>
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive-md" id="tasks">
      <table class="table table-striped">
        <tr>
          <th>ID</th>
          <th i18n="@@taskName">Task Name</th>
          <th i18n="@@endpointId">Endpoint ID</th>
          <th i18n="@@creationDate">Creation Date</th>
          <th i18n="@@status">Status</th>
        </tr>
        <tr *ngIf="tasks.length === 0">
          <td colspan="5" i18n="@@noActiveTasksToView" style="cursor:pointer; text-align: center">Currently no active
            tasks.
          </td>
        </tr>
        <ng-container *ngFor="let task of tasks;">
          <tr>
            <td>{{task.task_id}}</td>
            <td>{{task.name}}</td>
            <td>{{task.endpoint_id}}</td>
            <td>{{transformDate(task.creation_date)}}</td>
            <td
              i18n="@@taskStatus">{task.task_status, select, pending {pending} denied {denied} withdrawn {withdrawn} completed {completed}}</td>
          </tr>
        </ng-container>
      </table>
    </div>
    <div class="row">
      <div class="col-6 d-flex justify-content-begin align-items-center">
        <button (click)="previousPage()" *ngIf="page > 1" class="btn btn-default pagebutton" i18n="@@previousPage"
                type="button">&laquo; Previous Page
        </button>
      </div>
      <div class="col-6 d-flex justify-content-end align-items-center">
        <button (click)="nextPage()" *ngIf="nextEnabled" class="btn btn-default pagebutton" i18n="@@nextPage"
                type="button">Next Page &raquo;
        </button>
      </div>
    </div>
  </div>
</div>
