<div class="list-group list-group-root well">
  <a (click)="chevronTasks = !chevronTasks" class="list-group-item bg-primary active" data-target="#tasks"
     data-toggle="collapse" routerLink="/tasks" routerLinkActive>
    <i [ngClass]="chevronTasks ? 'fa-chevron-down' : 'fa-chevron-right'" class="fa"></i>
    <span i18n="@@myTasks"> My Tasks</span>
  </a>
  <div class="list-group collapse" id="tasks" style="text-indent:12px;">
    <a [queryParams]="standardTaskQueries" class="list-group-item" i18n="@@ownedTasks" routerLink="/tasks/owned"> Owned
      Tasks</a>
    <a [queryParams]="standardTaskQueries" class="list-group-item" i18n="@@tosignTasks" routerLink="/tasks/to-sign">
      Tasks To Sign</a>
    <a [queryParams]="standardTaskQueries" class="list-group-item" i18n="@@history" routerLink="/tasks/history">
      History</a>
  </div>
  <a (click)="chevronEndpoints = !chevronEndpoints" class="list-group-item bg-light" data-target="#endpoints" data-toggle="collapse"
     href="#">
    <i [ngClass]="chevronEndpoints ? 'fa-chevron-down' : 'fa-chevron-right'" class="fa"></i>
    <span i18n="@@endpoints"> Endpoints</span>
  </a>
  <div class="list-group collapse" id="endpoints" style="text-indent:12px;">
    <div *ngIf="noEndpointsAvailable" class="list-group-item" i18n="@@noEndpointsAvailable" id="no_endpoints_available">
      Currently no endpoints available.
    </div>
    <a *ngFor="let endpoint of endpoints" class="list-group-item" routerLink="/tasks/create/{{endpoint.endpoint_id}}"
       style="line-height:15px;">{{endpoint.name}}</a>
    <a (click)="nextPage()" *ngIf="!allEndpointsLoaded" class="list-group-item" href="javascript:void(0);"
       id='load_more_endpoints'
       style="line-height:15px;">
      ...
    </a>
  </div>
  <a class="list-group-item bg-light" i18n="@@preferences" routerLink="/preferences" style="text-indent:16px;">
    Preferences</a>
</div>
