<div style="pointer-events: none;">
  <table
    style="background-color:white !important; border-left: 3px solid lightgrey;width:100%;line-height:15px;margin-left:10px;">
    <tr>
      <td>ID:</td>
      <td>{{endpoint.endpoint_id}}</td>
    </tr>
    <tr>
      <td i18n="@@endpointMode">Mode</td>
      <td
        i18n="sequential status true or false@@sequentialParallel">{endpoint.sequential_status, select, 1 {Sequential} 0 {Parallel}}</td>
    </tr>
    <tr>
      <td i18n="@@numberOfActiveTasks">Number of Active Tasks</td>
      <td>{{endpoint.active_tasks}}</td>
    </tr>
    <tr>
      <td i18n="@@archivedTasksDeletable">Archived Tasks Deletable</td>
      <td i18n="@@enabledDisabled">{endpoint.deletable_status, select, 1 {Enabled} 0 {Disabled}}</td>
    </tr>
    <tr>
      <td i18n="@@emailNotification">E-Mail Notification</td>
      <td i18n="@@enabledDisabled">{endpoint.email_notification_status, select, 1 {Enabled} 0 {Disabled}}</td>
    </tr>
    <tr>
      <td i18n="@@allowAdditionalSignatures">Additional Signatures</td>
      <td i18n="@@enabledDisabled">{endpoint.allow_additional_accesses_status, select, 1 {Enabled} 0 {Disabled}}</td>
    </tr>
    <tr
      *ngIf="endpoint.allow_additional_accesses_status !== null && endpoint.allow_additional_accesses_status === true">
      <td i18n="@@additionalSignaturesInserted">Additional Signature are Inserted</td>
      <td><span
        i18n="additional signatures inserted before or after required@@beforeAfterRequired">{endpoint.additional_access_insert_before_status, select, 1 {Before} 0 {After}}
        Required</span>
      </td>
    </tr>
    <tr>
      <td i18n="@@signatureType">Signature Type</td>
      <td
        i18n="@@selectSignatureType">{ endpoint.signature_type, select, checkbox {Checkbox} button {Button} buttonAfterDownload {Button After Download} checkboxAfterDownload {Checkbox After Download} }</td>
    </tr>
    <tr>
      <td i18n="@@fields">Fields</td>
      <td>
        <table style="width:100%">
          <thead>
          <th i18n="@@type">Type</th>
          <th i18n="@@name">Name</th>
          </thead>
          <tbody>
          <tr *ngFor="let field of endpoint.fields">
            <td><span
              i18n="@@selectFieldType">{field.field_type, select, datetime {Date Time} file {File} textfield {Text Field} checkbox {Checkbox}}</span>
              <span *ngIf="field.required_status" i18n="@@required"> (required)</span></td>
            <td>{{field.name}}</td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td i18n="@@requiredSignatures">Required Signatures></td>
      <td>
        <table style="width: 100%">
          <thead>
          <th i18n="@@accessOrderTable">Access Order</th>
          <th i18n="@@signaturesTable">Signatures</th>
          </thead>
          <tbody>
          <tr *ngIf="endpoint.given_accesses.length === 0">
            <td class="text-center" colspan="2" i18n="@@noRequiredSignatures">No required signatures defined.</td>
          </tr>
          <tr *ngFor="let given_access of endpoint.given_accesses">
            <td>{{endpoint.sequential_status ? given_access.access_order : ""}}</td>
            <td *ngIf="given_access.user == undefined"><i class="fas fa-users"></i> {{given_access.group.name}}</td>
            <td *ngIf="given_access.group == undefined"><i class="fas fa-user"></i> {{given_access.user.name}}</td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</div>
