<div class="card mb-3" style="">
  <div class="card-header bg-primary text-white" style="font-weight: bolder">
    <div i18n="@@endpointManagement">
      Endpoint Management
    </div>
    <button (click)="reload()" class="btn btn-light mr-2" style="position:absolute;top:6px;right:4px;padding:.35rem;"
            type="button"><i class="fa fa-sync"></i>
      <span i18n="@@refresh"> Refresh</span>
    </button>
  </div>
  <div class="card-body">
    <app-alert [message]="message"></app-alert>
    <div class="table-responsive-md" id="endpoints_overview">
      <table class="table table-hover">
        <thead>
        <tr>
          <th i18n="@@endpointName" style="min-width: 35%">Endpoint Name</th>
          <th i18n="@@endpointDescription" style="min-width: 60%">Description</th>
          <th style="min-width: 5%"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="endpoints.length === 0">
          <td (click)="redirectCreation()" colspan="3" i18n="@@noEndpointsToManage"
              style="cursor:pointer; text-align: center">Currently no endpoints available. Click here to create one.
          </td>
        </tr>
        <ng-container *ngFor="let endpoint of endpoints; let i = index">
          <tr [ngClass]="{'bg-light': !endpoint.instantiable_status}">
            <td [attr.data-target]="'#endpoint_details' + i" data-toggle="collapse"
                style="cursor:pointer;">{{endpoint.name}} <span *ngIf="!endpoint.instantiable_status"
                                                                i18n="@@notInstantiable" style="font-style: italic;">(not instantiable)</span>
            </td>
            <td><span style="white-space: pre-line;">{{endpoint.description}}</span></td>
            <td>
              <button (click)="deleteEndpoint(endpoint.endpoint_id)" *ngIf="endpoint.instantiable_status" class="btn btn-danger" i18n="@@delete"
                      id="deleteButton"
                      style="align: right;" type="button">Delete
              </button>
            </td>
          </tr>
          <tr [id]="'endpoint_details' + i" class="collapse" style="width:100%;background-color:white !important">
            <td colspan="3" style="padding-top: 0px; padding-bottom: 0px">
              <app-endpoint-detail [endpoint]='endpoint'></app-endpoint-detail>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-6 d-flex justify-content-begin align-items-center">
        <button (click)="previousPage()" *ngIf="page > 1" class="btn btn-default pagebutton" i18n="@@previousPage"
                type="button">&laquo; Previous Page
        </button>
      </div>
      <div class="col-6 d-flex justify-content-end align-items-center">
        <button (click)="nextPage()" *ngIf="nextEnabled" class="btn btn-default pagebutton" i18n="@@nextPage"
                type="button">Next Page &raquo;
        </button>
      </div>
    </div>
  </div>
</div>
