<div class="card mb-3" style="">
  <div class="card-header bg-primary text-white" i18n="@@history" style="font-weight: bolder">History</div>
  <button (click)="reload()" class="btn btn-light mr-2" style="position:absolute;top:6px;right:4px;padding:.35rem;"
          type="button"><i class="fa fa-sync"></i>
    <span i18n="@@refresh"> Refresh</span>
  </button>
  <div class="card-body">
    <div class="table-responsive-md" id="tasks_archived">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th i18n="@@taskName" style="min-width: 45%">Task Name</th>
          <th i18n="@@creationDate" style="min-width: 25%">Creation Date</th>
          <th i18n="@@status" style="min-width: 25%">Status</th>
          <th style="min-width: 5%"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="tasks.length === 0">
          <td colspan="4" i18n="@@noArchivedTasksAvailable" style="cursor:pointer; text-align: center">Currently no
            archived tasks available.
          </td>
        </tr>
        <ng-container *ngFor="let task of tasks;">
          <tr>
            <td [routerLink]="['/tasks/details/', task.task_id]" style="cursor:pointer;">{{task.name}}</td>
            <td>{{transformDate(task.creation_date)}}</td>
            <td
              i18n="@@taskStatus">{task.task_status, select, pending {pending} denied {denied} withdrawn {withdrawn} completed {completed}}</td>
            <td>
              <button (click)="deleteTask(task.task_id)" *ngIf="task.deletable" class="btn btn-danger btn-block btn-sm"
                      i18n="@@remove" type="button">Remove
              </button>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-6 d-flex justify-content-begin align-items-center">
        <button (click)="previousPage()" *ngIf="page > 1" class="btn btn-default pagebutton" i18n="@@previousPage"
                type="button">&laquo; Previous Page
        </button>
      </div>
      <div class="col-6 d-flex justify-content-end align-items-center">
        <button (click)="nextPage()" *ngIf="nextEnabled" class="btn btn-default pagebutton" i18n="@@nextPage"
                type="button">Next Page &raquo;
        </button>
      </div>
    </div>
  </div>
</div>
