<div class="text-center" style="min-height:90vh;">
  <header class="navbar fixed-top justify-content-center">
    <span>ARGOS</span>
  </header>
  <div class="container" style="margin-top:30px;">
    <div class="content" style="padding-top: 65px;">
      <div class="row">
        <div class="col-sm-8 text-left" style="padding-right:50px;">
          <h3 i18n="@@welcome">Welcome to</h3>
          <img src="assets/ArgosLogo_blue_with_text.png" style="width: 500px; padding-bottom: 20px; max-width: 100%;">
          <p class="text-muted" i18n="@@welcomeText">
            Argos is a Web Service for the Application of the Multiple-Eye-Principle.
            Create Tasks from predefined Endpoints and let your Colleges check them.
            Quick and Easy!
          </p>
        </div>
        <div class="col-sm-4" style="padding-left:15px; padding-right:15px;">
          <!-- Login form -->
          <form (ngSubmit)="onSubmit()" [formGroup]="signingForm" class="form-group" novalidate>
            <img alt="" class="mb-4" height="72" src="assets/users-icon.png" width="72">
            <h1 class="h3 mb-3 font-weight-normal" i18n="@@ldapLogin">Login with LDAP</h1>
            <label class="sr-only" for="inputUsername" i18n="@@username">Username</label>
            <input [ngClass]="{'is-invalid': !signingForm.get('username').valid && signingForm.get('username').touched || !signingForm.get('username').valid && submitted}" class="form-control" formControlName="username" i18n-placeholder="@@username"
                   id="inputUsername"
                   placeholder="Username" required style="margin-bottom:15px;" type="text">
            <label class="sr-only" for="inputPassword" i18n="@@password">Password</label>
            <input [ngClass]="{'is-invalid': !signingForm.get('password').valid && signingForm.get('password').touched || !signingForm.get('password').valid && submitted}" class="form-control" formControlName="password" i18n-placeholder="@@password"
                   id="inputPassword"
                   placeholder="Password" required style="margin-bottom: 10px;" type="password">
            <div class="checkbox mb-3">
              <label>
                <input formControlName="rememberMe" id="rememberMe" type="checkbox" value="true">
                <span i18n="@@rememberMe"> Remember Me</span>
              </label>
            </div>
            <app-alert [message]="message"></app-alert>
            <button [disabled]="this.loading" class="btn btn-lg btn-primary btn-block" i18n="@@login" id='submitButton'
                    type="submit">
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class='text-center' style="position:static;bottom:0;">
  <span>&copy; ARGOS-TEAM | 2018-2019</span>
</footer>
