<div class="card mb-3" id="topOfPage">
  <div class="card-header bg-primary text-white" i18n="@@createTask" style="font-weight: bolder">
    Create Task
  </div>
  <div class="card-body">
    <app-alert [message]="message"></app-alert>
    <div *ngIf="fileSubmitted" class="progress">
      <div [attr.aria-valuenow]="percentDone" [ngStyle]="{width: percentDone +'%'}"
           aria-valuemax="100" aria-valuemin="0" class="progress-bar progress-bar-striped progress-bar-animated active"
           role="progressbar"></div>
    </div>
    <div class="row">
      <div class="col">
        <h3 class="text-muted"><span i18n="@@endpoint">Endpoint </span>{{endpoint?.name}}</h3>
        <small class="form-text text-muted">{{endpoint?.description}}</small>
      </div>
      <div class="col text-right">
        <button (click)="cancelCreation()" class="btn btn-danger" i18n="@@cancel">
          Cancel
        </button>
      </div>
    </div>

    <hr>

    <form (ngSubmit)="onSubmit()" [formGroup]="taskCreationForm">


      <div class="row">
        <div class="col-lg-5">
          <!-- Name -->
          <div class="row">
            <div class="col">
              <div class="form-group">
                <h5 class="text-muted" i18n="@@taskName">Task Name</h5>
                <input class="form-control" formControlName="name" id="name" type="text">
              </div>
            </div>
          </div>

          <hr>

          <!-- Given Accesses -->
          <div class="row">
            <div class="col">
              <h5 class="text-muted" i18n="@@requiredSignatures">Required Signatures</h5>
              <div class="list-group">
                <div *ngFor="let access of endpoint?.given_accesses; let i = index;" [ngStyle]="{'background-color': i % 2 == 0 ? '#e9ecef' : 'white'}"
                     class="list-group-item">
                  <div class="row">
                    <div class="col-sm-1">
                      <span *ngIf="access.user;"><i class="fas fa-user"></i></span>
                      <span *ngIf="access.group;"><i class="fas fa-users"></i></span>
                    </div>
                    <div class="col">
                      <span *ngIf="access.user;" style="padding-left:10px;">{{access.user.name}}</span>
                      <span *ngIf="access.group;" style="padding-left:10px;">{{access.group.name}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-7">
          <h5 class="text-muted" i18n="@@endpointDetails">Endpoint Details</h5>
          <table class="table table-sm table-striped">
            <tr class="text-muted">
              <td i18n="@@mode">Mode</td>
              <td i18n="<@@sequentialParallel">{endpoint?.sequential_status, select, 1 {Sequential} 0 {Parallel}}</td>
            </tr>
            <tr class="text-muted">
              <td i18n="@@archivedTasksDeletable">Archived Tasks Deletable</td>
              <td i18n="@@enabledDisabled">{endpoint?.deletable_status, select, 1 {Enabled} 0 {Disabled}}</td>
            </tr>
            <tr class="text-muted">
              <td i18n="@@emailNotification">E-Mail Notification</td>
              <td i18n="@@enabledDisabled">{endpoint?.email_notification_status, select, 1 {Enabled} 0 {Disabled}}</td>
            </tr>
            <tr class="text-muted">
              <td i18n="@@additionalSignatures">Additional Signatures</td>
              <td
                i18n="@@enabledDisabled">{endpoint?.allow_additional_accesses_status, select, 1 {Enabled} 0 {Disabled}}</td>
            </tr>
            <tr *ngIf="endpoint?.allow_additional_accesses_status" class="text-muted">
              <td i18n="@@additionalSignaturesInserted">Additional Signatures are Inserted</td>
              <td
                i18n="@@beforeAfterRequired">{endpoint?.additional_access_insert_before_status, select, 1 {Before} 0 {After}}
                Required
              </td>
            </tr>
            <tr class="text-muted">
              <td i18n="@@signatureType">Signature Type</td>
              <td
                i18n="@@selectSignatureType">{ endpoint?.signature_type, select, checkbox {Checkbox} button {Button} buttonAfterDownload {Button After Download} checkboxAfterDownload {Checkbox After Download} }</td>
            </tr>
          </table>

        </div>


      </div>

      <!-- Additional Accesses -->
      <ng-container *ngIf="endpoint?.allow_additional_accesses_status">
        <hr>

        <div class="row">
          <div class="col-lg-5">
            <div class="form-group">
              <!-- Additional Accesses Search-->

              <ng-template #rt let-r="result" let-t="term">
                <i [ngClass]="r.user_id ? 'fa-user' : 'fa-users'" class='fas mr-1'></i>
                <ngb-highlight [ngbTooltip]="r.group_id ? r.description : null" [result]="r.name"
                               placement="right"></ngb-highlight>
              </ng-template>

              <h5 class="text-muted" i18n="@@addAdditionalSignatures">Add Additional Signatures</h5>
              <div class="form-group">
                <input (selectItem)="addSignature($event)" [(ngModel)]="searchInput" [editable]="true" [inputFormatter]="formatter"
                       [ngModelOptions]="{standalone: true}" [ngbTypeahead]="search" [resultTemplate]="rt"
                       class="form-control" id="typeahead-template" type="text"/>
              </div>
            </div>
          </div>

          <div class="col-lg-7">
            <!-- Additional Accesses List -->
            <ng-container *ngIf="additionalAccesses.length > 0">
              <label for="additionalSignaturesList" i18n="@@additionalSignatures">Additional Signatures</label>
              <div class="list-group" id="additionalSignaturesList">
                <div class="list-group">
                  <div *ngFor="let access of additionalAccesses; let i = index;" [ngStyle]="{'background-color': i % 2 == 0 ? '#e9ecef' : 'white'}"
                       class="list-group-item">
                    <div class="row">
                      <div class="col-lg-1">
                        <span *ngIf="access.isUser;"><i class="fas fa-user"></i></span>
                        <span *ngIf="!access.isUser;"><i class="fas fa-users"></i></span>
                      </div>
                      <div class="col-lg-11">
                        <span [ngbTooltip]="!access.isUser ? access.signee.description : null" placement="bottom"
                              style="padding-left:10px;">{{access.signee.name}}</span>
                        <button (click)="removeAdditionalAccess(i)" aria-label="Close" class="close" style="color:red;"
                                type="button">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>

      <hr>

      <!-- Fields -->
      <div class="row">
        <div class="col">
          <div *ngIf="endpoint?.fields.length != 0">
            <small class="form-text text-muted" i18n="@@requiredHelp" id="requiredHelp">
              Fields marked with * are required.
            </small>
            <br>
            <h5 class="text-muted" i18n="@@form">Form</h5>
            <div class="form-group" formArrayName="fields" id="fieldForm">
              <div *ngFor="let formField of fields.controls; let i = index">
                <div formGroupName="{{i}}">
                  <div [ngSwitch]="formField.get('field_type').value">
                    <!-- Checkbox -->
                    <div *ngSwitchCase="fieldTypes.CHECKBOX" class="form-group row">
                      <span class="col-sm-3 col-form-label">
                        {{formField.get('name').value}}
                        <span *ngIf="formField.get('required_status').value" style="color: red">*</span>
                      </span>
                      <div class="col-sm-7">
                        <span class="form-control-plaintext"><input class="form-check-input" formControlName="value"
                                                                    type="checkbox"></span>
                      </div>
                    </div>

                    <!-- Textfield -->
                    <div *ngSwitchCase="fieldTypes.TEXT" class="form-group row">
                      <span class="col-sm-3 col-form-label">
                        {{formField.get('name').value}}
                        <span *ngIf="formField.get('required_status').value" style="color: red">*</span>
                      </span>
                      <div class="col-sm-7">
                        <textarea class="form-control" formControlName="value" rows="2"></textarea>
                      </div>
                    </div>

                    <!-- Date -->
                    <div *ngSwitchCase="fieldTypes.DATE" class="form-group row">
                      <span class="col-sm-3 col-form-label">
                        {{formField.get('name').value}}
                        <span *ngIf="formField.get('required_status').value" style="color: red">*</span>
                      </span>
                      <div class="col-sm-7">
                        <input
                          [altInput]="true"
                          [convertModelValue]="true"
                          [enableTime]="true"
                          [time24hr]="true"
                          altFormat="Y-m-d, H:i"
                          dateFormat="Y-m-dTH:i:s"
                          formControlName="value"
                          mwlFlatpickr type="text">
                      </div>
                    </div>

                    <!-- File -->
                    <div *ngSwitchCase="fieldTypes.FILE" class="form-group row">
                      <span class="col-sm-3 col-form-label">
                        {{formField.get('name').value}}
                        <span *ngIf="formField.get('required_status').value" style="color: red">*</span>
                      </span>
                      <div class="col-sm-7">
                        <input (change)="addFiles($event.target.files)" accept=".txt, .pdf, .png, .jpg, .jpeg, .gif, .docx, .xlsx, .pptx" class="form-control-file"
                               formControlName="value" multiple
                               type="file">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <!-- Create Task Button -->
      <div class="row">
        <div class="col"></div>
        <div class="col-sm-4">
          <button [disabled]="checkDisable()" class="btn btn-primary form-control" i18n="@@createTask" type="submit">
            Create Task
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
