<header class="argos-header p-1" style="width:98vw;">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-4">
      <img class="navbar-brand" src="assets/ArgosLogo_blue_with_text.png" style="padding-left: 10px; height: 40px">
    </div>
    <div class="col-4 text-center">
      <span *ngIf="currentUser">{{currentUser.name}}</span>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center" style="padding-right:10px;">
      <a class="text-muted" data-target=".my-modal" data-toggle="modal" href="#">
          <span i18n-title="@@messages" style="font-size: 1.8em;padding-right:15px;" title="Messages">
            <i class="far fa-bell"></i><span *ngIf="!(messagesCount === '0')" class="badge badge-primary"
                                             style="font-size: 0.5em;vertical-align: top">{{messagesCount}}</span>
          </span>
      </a>
      <button (click)="logout()" class="btn btn-sm btn-outline-danger" i18n="@@logout">Logout</button>
    </div>
  </div>
</header>
