<div aria-hidden="true" aria-labelledby="message-modal" class="modal fade my-modal" id="exampleModalCenter" role="dialog"
     tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="min-height:400px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          <button (click)="reload()" class="btn" id="reload_button" type="button"><i class="fas fa-sync"></i></button>
          <span i18n="@@messages">Messages</span>
        </h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="overflow: hidden;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-5" style="overflow-y: scroll;max-height:300px;min-height:300px">
              <ul class="list-group" id="message_buttons">
                <button (click)="selectMessage(i)" *ngFor="let message of messages; let i = index"
                        [ngClass]="{'active': selectedMessage === message}"
                        class="list-group-item list-group-item-action" type="button">
                  {{ transformDate(message.message_date)}}     <span
                  *ngIf="message.read_status === false"
                  class="badge badge-primary">New</span>
                </button>
                <button (click)="nextPage()" *ngIf="!allMessagesLoaded" class="list-group-item" type="button">
                  ...
                </button>
              </ul>
            </div>
            <div class="col" style="margin-left:5px;">
              <div class="card">
                <ng-container *ngIf="selected then showMessage else showPlaceholder"></ng-container>
                <ng-template #showMessage>
                  <h6 class="card-header">
                    {{ transformDate(selectedMessage.message_date)}}
                  </h6>
                  <div class="card-body" id="message_text">
                    {{ selectedMessage.text }}
                  </div>
                </ng-template>

                <ng-template #showPlaceholder>
                  <h6 class="card-header" i18n="@@messages">Messages</h6>
                  <div class="card-body" i18n="text on right side if no message selected@@noMessageSelected">Select a
                    message from the list to display its content.
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
