<div class="card mb-3">
  <div class="card-header bg-primary text-white" style="font-weight: bolder">
    <button (click)="resetForm()" aria-label="Close"
            class="btn btn-danger"
            style="position:absolute;top:4px;right:4px;padding:.5rem;color:inherit;">
      <span aria-hidden="false" i18n="@@cancel">Cancel</span>
    </button>
    <div i18n="@@createEndpoint">
      Create Endpoint: {{endpointCreationForm.get('name').value}}
    </div>
  </div>
  <div class="card-body">
    <div class="container">
      <app-alert [message]="message"></app-alert>
      <form (ngSubmit)="onSubmit()" [formGroup]="endpointCreationForm">
        <div class="row">
          <div class="col-sm">

            <!-- Name -->
            <div class="form-group">
              <label for="name" i18n="@@endpointName">Endpoint Name</label>
              <input class="form-control" formControlName="name" id="name" type="text">
            </div>

            <!-- Description -->
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="description" i18n="@@endpointDescription">Description</label>
                  <textarea class="form-control" formControlName="description" id="description" rows="3"></textarea>
                </div>
              </div>
            </div>

            <!-- Mode -->
            <label for="modus" i18n="@@endpointMode">Mode</label>
            <div class="form-group" id="modus">
              <div class="custom-control custom-radio custom-control-inline">
                <input class="custom-control-input" formControlName="sequentialStatus" id="customRadioInline1" type="radio"
                       value="true">
                <label class="custom-control-label" for="customRadioInline1" i18n="@@sequential">sequential</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input class="custom-control-input" formControlName="sequentialStatus" id="customRadioInline2" type="radio"
                       value="false">
                <label class="custom-control-label" for="customRadioInline2" i18n="@@parallel">parallel</label>
              </div>
            </div>

            <!-- Deletable -->
            <div class="form-group">
              <label for="inputDeletableStatus" i18n="@@archivedTaskDeletable">Archived Tasks Deletable</label>
              <br>
              <label class="switch">
                <input class="form-control" formControlName="deletableStatus" id="inputDeletableStatus" type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>

            <!-- Form fields -->
            <label for="formular" i18n="@@form">Form</label>
            <div class="form-group" formArrayName="fields" id="formular">
              <div *ngFor="let field of fields.controls; let j = index">
                <div formGroupName="{{j}}">
                  <div class="row">
                    <div class="col-sm-1">
                      <div class="custom-control custom-checkbox" style="margin: 1px 0 0 5px;">
                        <input class="custom-control-input" formControlName="required" id="customCheck{{j}}"
                               type="checkbox">
                        <label class="custom-control-label custom-control-label-checkbox"
                               for="customCheck{{j}}"></label>
                      </div>
                    </div>
                    <div class="col">
                      <input class="form-control" formControlName="value" i18n-placeholder="@@fieldNamePlaceholder"
                             placeholder="Field Name" type="text">
                    </div>
                    <div class="col">
                      <select class="custom-select custom-select-xs mb-3 form-control" formControlName="type">
                        <option *ngFor="let fieldType of fieldTypes"
                                [value]="fieldType">
                          <ng-container
                            i18n="@@selectFieldType">{fieldType, select, datetime {Date Time} file {File} textfield {Text Field} checkbox {Checkbox}}</ng-container>
                        </option>
                      </select>
                    </div>
                    <div class="col text-right">
                      <button (click)="removeField(j)" *ngIf="j > 0" class="btn btn-outline-danger" i18n="@@remove"
                              type="button">
                        Remove
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Button to add fields -->
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <small class="form-text text-muted" i18n="@@requiredHelpText" id="requiredHelp">
                      * Checked fields will be set as required.
                    </small>
                    <button (click)="addFormField()" class="btn btn-success form-control" type="button">
                      <span i18n="@@addField"> Add Field</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>


            <!-- E-Mail Notification -->
            <label for="emailNotifcationForm" i18n="@@emailNotification">E-Mail Notification</label>
            <div class="form-group" id="emailNotifcationForm">
              <label class="switch">
                <input class="form-control" formControlName="emailNotificationStatus" type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>
          </div>

          <!-- Next column -->
          <div class="col-sm">

            <!-- Signature tooltips -->
            <label for="neededSignatures" i18n="@@requiredSignatures">Required Signatures</label>
            <div class="form-group" id="neededSignatures">
              <ng-template #rt let-r="result" let-t="term">
                <i [ngClass]="r.user_id ? 'fa-user' : 'fa-users'" class='fas mr-1'></i>
                <ngb-highlight [ngbTooltip]="r.group_id ? r.description : null" [result]="r.name"
                               placement="right"></ngb-highlight>
              </ng-template>
              <div class="form-group">
                <input (selectItem)="addSignature($event)" [(ngModel)]="searchInput" [editable]="true" [inputFormatter]="formatter"
                       [ngModelOptions]="{standalone: true}" [ngbTypeahead]="search" [resultTemplate]="rt"
                       class="form-control" id="typeahead-template" type="text"/>
              </div>
              <br>

              <!-- Set signatures -->
              <ng-container *ngIf="accesses.length > 0">
                <label for="setSignatures" i18n="@@setSignatures">Set Signatures</label>
                <div class="list-group" id="setSignatures">
                  <div class="list-group">
                    <div *ngFor="let access of accesses; let i = index;" [ngStyle]="{'background-color': i % 2 == 0 ? '#e9ecef' : 'white'}"
                         class="list-group-item">
                      <div class="row">
                        <div class="col-sm-1">
                          <span *ngIf="access.isUser;"><i class="fas fa-user"></i></span>
                          <span *ngIf="!access.isUser;"><i class="fas fa-users"></i></span>
                        </div>
                        <div class="col">
                          <span [ngbTooltip]="!access.isUser ? access.signee.description : null" placement="bottom"
                                style="padding-left:10px;">{{access.signee.name}}</span>
                          <button (click)="removeAccess(i)" aria-label="Close" class="close" style="color:red;"
                                  type="button">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
            <br>

            <!-- Add signatures -->
            <label for="addSignatures" i18n="@@allowAdditionalSignatures">Task Creator Allowed to Add Signatures</label>
            <div class="form-group" id="addSignatures">
              <label class="switch">
                <input class="form-control" formControlName="allowAdditionalAccessesStatus" type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>

            <!-- InsertBefore -->
            <div *ngIf="endpointCreationForm.get('allowAdditionalAccessesStatus').value">
              <label for="insertBeforeField" i18n="@@insertAdditionalSignaturesBefore">Insert Additional Signatures
                Before Required</label>
              <div class="form-group" id="insertBeforeField">
                <label class="switch">
                  <input class="form-control" formControlName="insertBefore" type="checkbox">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>

            <!-- Signature type -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="signatureType" i18n="@@signatureType">Signature Type</label>
              <div class="col-sm-8">
                <select class="custom-select custom-select-xs mb-3 form-control" formControlName="signatureType"
                        name="signatureType">
                  <option *ngFor="let type of signatureTypes" [ngValue]="type">
                    <ng-container
                      i18n="@@selectSignatureType">{ type, select, checkbox {Checkbox} button {Button} buttonAfterDownload {Button After Download} checkboxAfterDownload {Checkbox After Download} }</ng-container>
                  </option>
                </select>
              </div>
            </div>

            <!-- Submit button -->
            <div class="row">
              <div class="col"></div>
              <div class="col-sm">
                <button [disabled]="checkDisable()" class="btn btn-primary form-control" i18n="@@createEndpointButton"
                        type="submit">Create Endpoint
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
