<div class="card mb-3" style="">
  <div class="card-header bg-primary text-white" i18n="@@preferences" style="font-weight: bolder">Preferences</div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="inputLanguage" i18n="@@language">Language</label>
        <select (change)="changeLanguage()" [(ngModel)]="preferences.language" class="form-control" id="inputLanguage"
                name="language">
          <option *ngFor="let language of languages">{{language}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="inputEmailNotfication" i18n="@@emailNotification">E-Mail Notification</label>
        <br>
        <label class="switch">
          <input (change)="changeNotification()" [(ngModel)]="preferences.email_notification" class="form-control" id="inputEmailNotfication"
                 name="email_notification" type="checkbox">
          <span class="slider round"></span>
        </label>
        <small class="form-text text-muted" i18n="help text for email notification@@helpMailNotification"
               id="emailHelp">Decide whether you want to receive mails
          for tasks to sign,
          provided that they are enabled in the respective endpoint. <br> The following notifications are excluded:
        </small>
        <ul class="small text-muted fa-ul">
          <li><i class="fa-li fa fa-chevron-right"></i>
            <span i18n="@@taskCreationPref">A task was created.</span></li>
          <li><i class="fa-li fa fa-chevron-right"></i>
            <span i18n="@@taskCompletedPref">A task was completed.</span></li>
          <li><i class="fa-li fa fa-chevron-right"></i>
            <span i18n="@@taskRejectedPref">A task was rejected.</span></li>
        </ul>
      </div>
    </form>
  </div>
</div>
