<div style="padding: 20px">
  <h1 i18n="@@oopsie">Oopsie...</h1>
  <h3 i18n="@@404">404 - Something went wrong!</h3>
  <p i18n="@@UrlNotExist">The entered URL does not exist.</p>
  <button (click)="redirect()" class="btn btn-primary" i18n="@@backToHome">Back to Home</button>
</div>
