<div class="list-group list-group-root well">
  <a (click)="chevronEndpoints = !chevronEndpoints" class="list-group-item active button-primary" data-target="#endpoints"
     data-toggle="collapse" href="#">
    <i [ngClass]="chevronEndpoints ? 'fa-chevron-down' : 'fa-chevron-right'" class="fa"></i>
    <span i18n="@@endpoints"> Endpoints</span>
  </a>
  <div class="list-group collapse" id="endpoints" style="text-indent:12px;">
    <a class="list-group-item" i18n="@@createEndpoint" routerLink="/admin/endpoints/creation"> Create Endpoint</a>
    <a [queryParams]="standardQueries" class="list-group-item" i18n="@@endpointManagement"
       routerLink="/admin/endpoints/management"> Endpoint Management</a>
  </div>
  <a [queryParams]="standardQueries" class="list-group-item bg-light"
     i18n="@@taskOverview" routerLink="/admin/tasks"> Task Overview</a>
</div>
