<!-- different messages shown as an alert -->
<ng-container [ngSwitch]="message">
  <div *ngSwitchCase="alertMessages.ENDPOINT_CREATED" class="alert alert-success" i18n="@@endpointCreationSuccess"
       role="alert">
    Endpoint created successfully!
  </div>
  <div *ngSwitchCase="alertMessages.ENDPOINT_CREATION_FAILED" class="alert alert-danger" i18n="@@endpointCreationFail"
       role="alert">
    Endpoint could not be created!
  </div>
  <div *ngSwitchCase="alertMessages.LOGIN_FAILED" class="alert alert-danger" i18n="@@wrongUsernameOrPassword" id="loginFailed"
       role="alert">
    Wrong username or password!
  </div>
  <div *ngSwitchCase="alertMessages.CONNECTION_ERROR" class="alert alert-danger" i18n="@@connectionError" id="connectionError"
       role="alert">
    Connection error occurred!
  </div>
  <div *ngSwitchCase="alertMessages.LDAP_FAILED" class="alert alert-danger" i18n="@@ldapFail" id="ldapFailed"
       role="alert">
    Authentication with LDAP successful. But it seems like you are not registered in our system. An Admin has been
    notified.
  </div>
  <div *ngSwitchCase="alertMessages.TASK_CREATED" class="alert alert-success" i18n="@@createTaskSuccess" role="alert">
    Task created successfully!
  </div>
  <div *ngSwitchCase="alertMessages.TASK_CREATION_FAILED" class="alert alert-danger" i18n="@@createTaskFail"
       role="alert">
    Task could not be created!
  </div>
  <div *ngSwitchCase="alertMessages.SOMETHING_WENT_WRONG" class="alert alert-danger" i18n="@@somethingWentWrong">
    Something went wrong!
  </div>
  <div *ngSwitchCase="alertMessages.CAN_NOT_RELOAD" class="alert alert-danger" i18n="@@reloadError">Error: Task could
    not be reloaded!
  </div>
  <div *ngSwitchCase="alertMessages.NOT_SUCCESSFUL_REJECTED" class="alert alert-danger" i18n="@@rejectError">Error: Task
    could not be rejected!
  </div>
  <div *ngSwitchCase="alertMessages.SUCCESSFUL_REJECTED" class="alert alert-success" i18n="@@rejectionSuccess">Task
    successfully rejected!
  </div>
  <div *ngSwitchCase="alertMessages.NO_MATCH_WITH_ENDPOINT_ID" class="alert alert-danger"
       i18n="@@noMatchWithEndpointId">There is no Endpoint
    associated with the given id. You will be redirected to the tasks you own in 5 seconds!
  </div>
</ng-container>
