<div class="text-center" style="min-height: 89vh;">
  <header class="navbar fixed-top justify-content-center" style="background-color: white;">
    <span class="col-1"></span>
    <span class="col-10">ARGOS Backend</span>
    <div class="col-1 justify-content-end">
      <img (click)="changeLanguage('de')" alt="" src="assets/flag_de.png" style="height: 20px; width: 20px;">
      <img (click)="changeLanguage('en')" alt="" src="assets/flag_en.png"
           style="height: 20px; width: 20px; margin: 10px;">
    </div>
  </header>
  <div class="container text-center" style="margin-top:30px;">
    <div class="content" style="padding-top: 65px;max-width: 330px; margin:auto;">
      <form (ngSubmit)="onSubmit()" [formGroup]="signingForm" class="form-group" novalidate>
        <img alt="" class="mb-4" height="72" src="assets/users-icon.png" width="72">
        <h1 class="h3 mb-3 font-weight-normal" i18n="@@login">Login</h1>
        <label class="sr-only" for="inputUsername" i18n="@@username">Username</label>
        <input [ngClass]="{'is-invalid': !signingForm.get('username').valid && signingForm.get('username').touched || !signingForm.get('username').valid && submitted}" class="form-control" formControlName="username" i18n-placeholder="@@username"
               id="inputUsername"
               placeholder="Username" required style="margin-bottom:15px;" type="username">
        <label class="sr-only" for="inputPassword" i18n="@@password">Password</label>
        <input [ngClass]="{'is-invalid': !signingForm.get('password').valid && signingForm.get('password').touched || !signingForm.get('password').valid && submitted}" class="form-control" formControlName="password" i18n-placeholder="@@password"
               id="inputPassword"
               placeholder="Password" required style="margin-bottom: 10px;" type="password">
        <div class="checkbox mb-3">
          <label>
            <input formControlName="rememberMe" id="rememberMe" type="checkbox" value="true">
            <span i18n="@@rememberMe"> Remember Me</span>
          </label>
        </div>
        <app-alert [message]="message"></app-alert>
        <button [disabled]="this.loading" class="btn btn-lg btn-danger btn-block" i18n="@@login" id="submitButton"
                type="submit">
          Login
        </button>
      </form>
    </div>
  </div>
</div>
<footer class='text-center' style="position:static;bottom:0;">
  <span>&copy; ARGOS-TEAM | 2018-2019</span>
</footer>
