<div class="card mb-3">
  <div class="card-header bg-primary text-white" i18n="@@taskDetails" style="font-weight: bolder">Task Details</div>
  <div class="card-body">
    <app-alert [message]="message"></app-alert>

    <!-- Task details -->
    <div class="row">
      <div class="col">
        <h3 class="text-muted" id="task_title">ID: {{task.task_id}} {{task.name}}</h3>
      </div>
      <div class="col text-right">
        <button (click)="reload()" *ngIf="task.task_status === 'pending'" class="btn btn-info mr-2" id="refresh_button"
                type="button"><i
          class="fa fa-sync"></i>
          <span i18n="@@refresh"> Refresh</span>
        </button>
        <button (click)="deleteTask()" *ngIf="rejectable" class="btn btn-danger mr-2" id="withdraw_button"
                type="button"><i
          class="fa fa-trash" i18n="@@withdraw"></i>
          <span i18n="@@withdraw"> Withdraw</span>
        </button>
        <button (click)="reject()" *ngIf="task.can_sign === 'afterDownload' || convertToBoolean(task.can_sign)" [disabled]="successfulRejected !== null && successfulRejected"
                class="btn btn-danger"
                type="button"><i
          class="fa fa-trash" id="reject_button"></i>
          <span i18n="@@reject"> Reject</span>
        </button>
      </div>
    </div>

    <hr>

    <div class="row card-text">
      <div class="col-lg-5">

        <!-- Modus -->
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="modus" i18n="@@mode">Mode</label>
          <div class="col-sm-7">
            <span class="form-control-plaintext"
                  i18n="@@sequentialParallel"
                  id="modus">{task.sequential_status, select, 1 {Sequential} 0 {Parallel}}</span>
          </div>
        </div>

        <!-- Status -->
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="status" i18n="@@status">Status</label>
          <div class="col-sm-7">
            <span class="form-control-plaintext" i18n="@@taskStatus"
                  id="status">{task.task_status, select, pending {pending} denied {denied} withdrawn {withdrawn} completed {completed}}</span>
          </div>
        </div>

        <!--Creator -->
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="creator" i18n="@@creator">Creator</label>
          <div class="col-sm-7">
            <span class="form-control-plaintext" id="creator">{{task.creator.name}}<br>({{task.creator.email_address}})</span>
          </div>
        </div>

        <!-- Creationdate -->
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="creationDate" i18n="@@creationDate">Creation Date</label>
          <div class="col-sm-7">
            <span class="form-control-plaintext" id="creationDate">{{transformDate(task.creation_date)}}</span>
          </div>
        </div>

        <!--Last edited -->
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="lastEdit" i18n="@@lastAccess">Last Access</label>
          <div class="col-sm-7">
            <span class="form-control-plaintext" id="lastEdit">{{ transformDate(getLastChange().toString())}}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <h5 class="text-muted" i18n="@@signatures">Signatures</h5>
        <div class="table-responsive-md">
          <table class="table table-sm table-striped">
            <tr class="text-muted">
              <th i18n="@@requiredSignaturesTable">Required Signatures</th>
              <th i18n="@@signedBy">Signed By Name (ID)</th>
              <th i18n="@@signDate">Signed On</th>
            </tr>
            <tr *ngFor="let access of task.accesses">
              <ng-container *ngIf="access.group">
                <td>{{access.group.name}} <span *ngIf="access.access_status === 'denied'" i18n="@@denied"
                                                style="color:red">(Denied)</span></td>
                <td>
                  <ng-container *ngIf="access.access_status === 'signed' || access.access_status === 'denied'">
                    {{access.user.name}} ({{access.user.user_id}})
                  </ng-container>
                </td>
                <td>
                  <ng-container *ngIf="access.access_status === 'signed' || access.access_status === 'denied'">
                    {{transformDate(access.event_date.valueOf())}}
                  </ng-container>
                </td>
              </ng-container>
              <ng-container *ngIf="!access.group">
                <td>{{access.user.name}} <span *ngIf="access.access_status === 'denied'" i18n="@@denied"
                                               style="color:red">(Denied)</span></td>
                <ng-container *ngIf="access.access_status === 'signed' || access.access_status === 'denied'">
                  <td>{{access.user.name}} ({{access.user.user_id}})</td>
                  <td>{{transformDate(access.event_date.valueOf())}}</td>
                </ng-container>
                <ng-container *ngIf="access.access_status !== 'signed' && access.access_status !== 'denied'">
                  <td></td>
                  <td></td>
                </ng-container>
              </ng-container>
            </tr>
          </table>
        </div>
        <hr>
        <br>
        <br>
        <ng-container *ngIf="getFiles().length > 0">
          <div class="row form-group">
            <div class="col">
              <h5 class="text-muted" i18n="@@files">Files</h5>
              <div class="table-responsive-md">
                <table class="table table-sm table-striped">
                  <tr class="text-muted">
                    <th i18n="@@file">File</th>
                  </tr>
                  <tr *ngFor="let file of getFiles();">
                    <td>{{file.value}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <button (click)="download()" class="btn btn-primary btn-block" data-placement="bottom" data-toggle="tooltip"
                      i18n-title="@@downloadAsZip" title="Download as ZIP" type="button"><i
                class="fa fa-download"></i>
                <span i18n="@@download"> Download</span>
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <ng-container *ngIf="getFieldsWithoutFiles().length > 0">
      <hr>
      <div class="row">
        <div class="col">
          <h5 class="text-muted" i18n="@@form">Form</h5>
          <div *ngFor="let field of getFieldsWithoutFiles()">
            <ng-container [ngSwitch]="field['field'].field_type">
              <div *ngSwitchCase="fieldTypes.DATE">
                <div class="form-group row">
                  <span class="col-sm-3 col-form-label">{{field['field'].name}}:</span>
                  <div class="col-sm-7">
                    <span class="form-control-plaintext">{{transformDate(field.value)}}</span>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="fieldTypes.TEXT">
                <div class="form-group row">
                  <span class="col-sm-3 col-form-label">{{field['field'].name}}:</span>
                  <div class="col-sm-7">
                    <textarea class="form-control" disabled id="comment" rows="3">{{field.value}}</textarea>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="fieldTypes.CHECKBOX">
                <div class="form-group row">
                  <span class="col-sm-3 col-form-label">{{field['field'].name}}:</span>
                  <div class="col-sm-7">
                  <span class="form-control-plaintext"><input [checked]="convertToBoolean(field.value)" disabled
                                                              type="checkbox"/></span>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>


    <div *ngIf="convertToBoolean(task.can_sign) || task.can_sign === 'afterDownload' || isSigned">
      <hr>
      <div class="row">
        <div class="col" id="sign_field">
          <div *ngIf="convertToBoolean(task.can_sign) || isSigned">
            <h5 class="text-muted" i18n="@@sign">Sign</h5>
            <!-- Show button or checkbox -->
            <ng-container
              *ngIf="task.signature_type === signatureTypes.BUTTON || task.signature_type === signatureTypes.DOWNLOAD_BUTTON">
              <button (click)="sign()" [disabled]="isSigned || successfulRejected !== null && successfulRejected" class="btn btn-primary mb-2"
                      type="button"><i
                class="fas fa-edit"></i>
                <span i18n="@@signNow">Sign Now</span>
              </button>
            </ng-container>
            <ng-container
              *ngIf="task.signature_type === signatureTypes.CHECKBOX || task.signature_type === signatureTypes.DOWNLOAD_CHECKBOX">
              <label><input (change)="signCheckbox()" [disabled]="signBox || successfulRejected !== null && successfulRejected" class="form-control" style="display: inline"
                            type="checkbox">
                <span i18n="@@signHereby">I hereby sign this task</span></label>
            </ng-container>
            <div *ngIf="isSigned !== null && isSigned" class="alert alert-success" i18n="@@signSuccess">Task
              successfully signed.
            </div>
          </div>
          <div *ngIf="task.can_sign === 'afterDownload'">
            <h5 class="text-muted" i18n="@@sign">Sign</h5>
            <br>
            <div class="alert alert-info" i18n="@@afterDownloadWarning" id="download_first_warning">To be able to sign,
              you must download the files
              first.
            </div>
            <div *ngIf="task.signature_type === signatureTypes.DOWNLOAD_BUTTON">
              <button class="btn btn-primary disabled" disabled id="button_after_download" type="button"><i
                class="fas fa-edit"></i>
                <span i18n="@@signNow">Sign Now</span>
              </button>
            </div>
            <div *ngIf="task.signature_type === signatureTypes.DOWNLOAD_CHECKBOX">
              <label><input class="form-control" disabled style="display: inline" type="checkbox">
                <span i18n="@@signHereby">I hereby sign this task</span></label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <ng-container *ngIf="this.task.task_status === 'pending'">
      <hr>
      <h5 class="text-muted" i18n="@@comments">Comments</h5>

      <div class="row">
        <div class="col">
          <ul class="list-unstyled">
            <li *ngFor="let comment of (comments | async)" class="media my-4">
              <img alt="Generic placeholder image" class="mr-3"
                   src="https://www.gravatar.com/avatar/{{getUserHash(comment.creator)}}?s=64&d=identicon" style="width:64px;height:64px;margin-left:10px;">
              <div class="media-body">
                <h6 class="mt-0 mb-1"><span [ngClass]="comment.creator.user_id === currentUser?.user_id ? 'badge-primary': 'badge-secondary'"
                                            class="badge">{{comment.creator.name}}
                  ({{comment.creator.email_address}})</span> <span
                  class="float-right">{{transformDate(comment.comment_date)}}</span>
                </h6>
                <p style="white-space:pre-wrap;">{{ comment.text }}</p>
              </div>
            </li>

            <!-- Kommentar schreiben -->
            <li class="media my-4">
              <img alt="Generic placeholder image" class="mr-3"
                   src="https://www.gravatar.com/avatar/{{currentUserHash}}?s=64&d=identicon" style="width:64px;height:64px;margin-left:10px;">
              <div class="media-body">
                <div class="form-group">
                  <h6 i18n="@@leaveComment">Leave a comment</h6>
                  <div class="form-group">
                    <textarea [(ngModel)]="comment" class="form-control" row="3"></textarea>
                  </div>
                  <button (click)="addComment()" [disabled]="comment === ''" class="btn btn-primary float-right"
                          i18n="@@send" id="addComment_button" style="margin-top:10px;" type="button">Send
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <ng-container *ngIf="allCommentsLoaded !== null">
        <button (click)="nextCommentPage()" *ngIf="!allCommentsLoaded" class="btn btn-outline-info" i18n="@@nextCommentPage"
                type="button">
          Next Comment Page
        </button>
      </ng-container>
    </ng-container>
  </div>
</div>
