<app-header-backend></app-header-backend>

<div class="container-fluid">
  <div class="row" style="margin-top: 10px;">
    <div class="col-sm-3 col-md-3">
      <app-sidebar-backend></app-sidebar-backend>
    </div>
    <div class="col">
      <!-- Content -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
