<header class="argos-header p-1" style="width:98vw;">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-4">
      <img class="navbar-brand" src="assets/ArgosLogo_blue_with_text.png" style="padding-left: 10px; height: 40px">
    </div>
    <div class="col-4 text-center" i18n="@@admin">
      Admin
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center" style="padding-right:10px;">
      <img (click)="changeLanguage('de')" alt="" src="assets/flag_de.png" style="height: 20px; width: 20px;">
      <img (click)="changeLanguage('en')" alt="" src="assets/flag_en.png"
           style="height: 20px; width: 20px; margin: 10px;">
      <button (click)="logout()" class="btn btn-sm btn-outline-danger" i18n="@@logout">Logout</button>
    </div>
  </div>
</header>
