<app-header-frontend></app-header-frontend>

<div class="container-fluid">
  <app-breadcrumb></app-breadcrumb>
  <div class="row">
    <div class="col-sm-3 col-md-3">
      <app-sidebar-frontend></app-sidebar-frontend>
    </div>
    <div class="col">
      <!-- Content -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-message></app-message>
