<div class="card mb-3">
  <div class="card-header bg-primary text-white" style="font-weight: bolder">
    <div i18n="@@ownedTasks">
      Owned Tasks
    </div>
    <button (click)="reload()" class="btn btn-light mr-2" style="position:absolute;top:6px;right:4px;padding:.35rem;"
            type="button"><i class="fa fa-sync"></i>
      <span i18n="@@refresh"> Refresh</span>
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive-md" id="tasks_owned">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th i18n="@@taskName" style="min-width: 40%">Task Name</th>
          <th i18n="@@creationDate" style="min-width: 30%">Creation Date</th>
          <th i18n="@@status" style="min-width: 30%">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="tasks.length === 0">
          <td colspan="3" i18n="@@noOwnedTasksAvailable" style="cursor:pointer; text-align: center">Currently no owned
            tasks available.
        </tr>
        <ng-container *ngFor="let task of tasks;">
          <tr [routerLink]="['/tasks/details/', task.task_id]" style="cursor:pointer;">
            <td>{{task.name}}</td>
            <td>{{transformDate(task.creation_date)}}</td>
            <td
              i18n="@@taskStatus">{task.task_status, select, pending {pending} denied {denied} withdrawn {withdrawn} completed {completed}}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-6 d-flex justify-content-begin align-items-center">
        <button (click)="previousPage()" *ngIf="page > 1" class="btn btn-default pagebutton" i18n="@@previousPage"
                type="button">&laquo; Previous Page
        </button>
      </div>
      <div class="col-6 d-flex justify-content-end align-items-center">
        <button (click)="nextPage()" *ngIf="nextEnabled" class="btn btn-default pagebutton" i18n="@@nextPage"
                type="button">Next Page &raquo;
        </button>
      </div>
    </div>
  </div>
</div>
